
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* container */
.new-game-container {
    width: 100%;
}

.new-game-card {
    border: none;
}
.game-saved-success-alert {
   width: 100% 
}